<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sign up form</title>
    </head>
    <body>

        <h1>Sign up to the event using this form</h1>

        <form name="loginForm" method="post" action="/form">
            Name: <input type="text" name="name"/> <br/>
            Address: <input type="text" name="address"/> <br/>
            <input type="submit" value="Submit" />
        </form>

        <h1>Admin signin</h1>

        <form name="loginForm" method="post" action="/admin_signups">
            Username: <input type="text" name="name"/> <br/>
            Password: <input type="text" name="password"/> <br/>
            <input type="submit" value="Login" />
        </form>
    </body>
</html>
